* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: "Segoe UI", -apple-system, Arial, Verdana, sans-serif;
    background-color: whitesmoke;
}

/* menu */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.topnav a.logo {
    padding: 7px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ff9100;
    color: white;
}

.topnav .icon {
    display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.sc-converter {
    width: 100%;
    min-height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    padding: 40px 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-input {
    background-color: #333;
    outline: 0;
    padding: 16px;
    color: #ffff;
    height: 60px;
    border-radius: 9px;
    width: 250px;
    font-size: 18px;
    margin: 5px;
}

.load-input {
    width: 100%;
}
.dwn-convert,
.btn-convert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border: 0;
    width: 250px;
    height: 60px;
    border: 0;
    background-color: #ff9100;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
}
.dwn-convert{
    background-color: #3dd900;
}
.dwn-convert:hover,
.btn-convert:hover{
    color: #333;
    background-color: #ddd;
}
@media (min-width: 768px) {
    .flex-center {
        flex-direction: row;
    }

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8px;
    overflow: hidden;
    background-color: #333;
    flex-wrap: wrap;
}
footer a,
footer p{
    color: #fff;
    text-decoration: none;
    margin: 5px;
}